.App {
  text-align: center;
}

body {
  height: 100%;
}

.container {
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: hsla(0, 0%, 98%, 0.701);
}

#items > .row { /*row items*/
  margin-top: 5px;
  margin-bottom: 5px;
}

#items > .row#extra { /*extra rows that just have text*/
  justify-content: center;
}